body {
    margin: 0;
    padding: 10px 15px;
    box-sizing: border-box;
    width:100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
   
}

h1 {
    color: rgb(0, 179, 255);
    text-align: left;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

div {
    text-align: left;
}

input {
    border: 1px solid rgb(210, 210, 210);
    border-radius: 3px;
    height: 25px;
    padding: 0;
    padding-left: 7px;

    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 14px;
}


#boton {
    height: 27px;
    padding: 0 10px;
    box-sizing: border-box;

    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 14px;

    background-color: rgb(234, 234, 234);
    border: 1px solid rgb(234, 234, 234);
    border-radius: 3px;
}


ul {
    margin-left: 0;
    padding-left: 0;
}

ul li {
    text-align: left;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 14px;

    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

li:before {
    content: "\203A"; /* FontAwesome Unicode */
    display: inline-block;
    margin-right: 10px;
  }


.descargar {
        margin-top: 20px;
        height: 33px;
        padding: 0 10px;
        box-sizing: border-box;
    
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 14px;
    
        background-color: white;
        border: 1px solid rgb(0, 179, 255);
        border-radius: 3px;
        color: rgb(0, 179, 255);
}

.descargar i {
    margin-right: 4px;
}

.descargar:hover {
    background-color: rgb(0, 179, 255);
    color: white;
}